
<div class="content" role="main" >
  <app-toolbar (button1)="sidenav.toggle()" (button2)="sidenav2.toggle()" class="fixed-header"></app-toolbar>
  <mat-sidenav-container fxFlexFill style="height: 1200px">
    <mat-sidenav #sidenav style="height: 160px; width: 150px;" autosize mode="over" position="start" >
      <mat-nav-list>
        <a (click)="scroll(dulce)" mat-list-item>Dulce</a>
        <a (click)="scroll(salado)" mat-list-item>Salado</a>
        <a (click)="scroll(infusiones)" mat-list-item>Infusiones</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav #sidenav2 style="height: 160px; width: 160px;" autosize position="end" >
      <mat-nav-list>
        <a (click)="scroll(dulce)" mat-list-item>Dulce</a>
        <a (click)="scroll(salado)" mat-list-item>Salado</a>
        <a (click)="scroll(infusiones)" mat-list-item>Infusiones</a>
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close
          </a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div #footer class="main">

        <!-- Main content -->
        <br />
        <div #dulce class="item">
          <img src="./pag1.jpeg"/>
        </div>
        <div #salado class="item">
          <img src="./pag2.jpeg"/>
        </div>
        <div #infusiones class="item">
          <img src="./pag3.jpeg"/>
        </div>

        
        <router-outlet></router-outlet>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>