<mat-toolbar class="fixed-header" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="buttonAction(1)" fxShow="true" fxHide.gt-sm style="margin-right: 20px;">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Santos Cafe</span>
      <span class="menu-spacer"></span>
      <button (click)="buttonAction(2)" mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
      </button>
      <button color="warn"  mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes 
        <a routerLink="/home" mat-button>home</a> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
